DATABASE_URL="postgresql://postgres:password@localhost:5432/nomina_konecta"
JWT_SECRET="konecta-nomina-super-secret-key-2024"
JWT_EXPIRES_IN="24h"
PORT=3001
NODE_ENV=development
UPLOADS_DIR="./uploads"
FRONTEND_URL="http://localhost:5173"
